$midnight-green: #014e56;
$light-corol: #f67e7e;
$white-color: #ffffff;
$rapture-blue: #79c8c7;
$police-blue: #2c6269;
$deep-green: #004047;
$sacra-green: #012f34;
$dark-green: #002529;

$main-ff: "Livvic", sans-serif;
